<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ListComPorts.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
    <userSettings>
        <ListComPorts.Properties.Settings>
            <setting name="terminal" serializeAs="String">
                <value>c:\Program Files (x86)\teraterm\ttermpro.exe</value>
            </setting>
            <setting name="teminalargs" serializeAs="String">
                <value>/BAUD=115200 /C={devicenum}</value>
            </setting>
        </ListComPorts.Properties.Settings>
    </userSettings>
</configuration>
